<!-- <google-map [options]="options" [center]="this.center" [zoom]="zoom" width="100%" height="16.5625rem">
  <map-marker [position]="this.center" ></map-marker>
</google-map> -->

<!-- <agm-map
[latitude]="this.center.lat"
[longitude]="this.center.lng"
[zoom]="zoom" >
  <agm-marker
  [latitude]="this.center.lat"
  [longitude]="this.center.lng">
</agm-marker>
</agm-map> -->

<!-- <p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" ></p-gmap> -->

<p-gmap [options]="options" #gmap (onMapReady)="setMap($event)" [overlays]="this.overlays" [style]="{'width':'100%','height':'320px'}" ></p-gmap>



