@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import "../../styles/colors.scss";
// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/globals";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

.default-button {
  background-color: $main-color;
  border-color: $main-color;
  color: $white;
  border-radius: 2rem;
  &:hover {
    color: $white;
  }
}

.nb-theme-default nb-menu .menu-item a.active {
  color: $main-color;
}
.nb-theme-default nb-menu .menu-item a.active .menu-icon {
  color: $main-color;
}
.nb-theme-default
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 0;
}
